table { 
    width: 70%; border: 1px solid black
}
        
table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center
}

th {
    background-color: antiquewhite;
}

